---

---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>

  <span class="text-muted hover:underline dark:text-slate-400 font-medium"
    >Gat no 174, Meenakshi Industries, Ganesh Nagar Rd, near Talawade, Ganesh Nagar, Sahyog Nagar</span
  >
  <span
    class="ltr:ml-auto rtl:mr-auto ml-auto bg-contain inline-block bg-no-repeat bg-center"
  >info@meenakshiindustries.in | +91 97668 37745</span>
</div>
