---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'Meenakshi Industries - Leading Corrugated Manufacturer in Pune',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
    <!-- Hero2 Widget ******************* -->

    <Hero2
    tagline=""
    actions={[
      { variant: 'primary', target: '_blank', text: 'Get Quote', href: '/contact' },
    ]}
    image={{
      src: '~/assets/images/home.png', 
      alt: 'Meenakshi Industries - Workshop',
    }}
  >
    <Fragment slot="title">
      Where Packaging Meets Precision! <br /> <span class="text-accent dark:text-white highlight"
        >Meenakshi Industries</span> <br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Established in Pune, <span class ="font-semibold">Meenakshi Industries </span> has been a trusted name in corrugated box manufacturing for Ten years. We're more than just a box maker; 
        we're a partner committed to providing reliable and high-quality packaging solutions that protect your products and strengthen your brand!</span
      >
    </Fragment>
  </Hero2>

<!-- Features2 Widget ************** -->

  <Features2
    id="our-story"
    title="Our Story"
    subtitle="Established in Pune, Meenakshi Industries has been a trusted name in corrugated box manufacturing for Ten years. We're more than just a box maker; we're a partner committed to providing reliable and high-quality packaging solutions that protect your products and strengthen your brand. From humble beginnings, we've grown by consistently delivering on our promises: superior materials, precision manufacturing, and exceptional customer service. We understand the importance of packaging in your supply chain, and that's why we're dedicated to providing you with the best solutions for your unique needs. We are proud to be based in Pune, serving businesses across Western India."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

<!-- Steps Widget ****************** -->

<Steps
title="Our Process"
items={[
  {
    title: 'Step 1: <span class="font-medium">Design and Prototyping</span>',
    description:
      "Collaborative design phase to create the perfect packaging solution",
      icon: 'tabler:package',
  },
  {
    title: 'Step 2: <span class="font-medium">Manufacturing</span>',
    description:
      "State-of-the-art facilities for efficient production",
      icon: 'tabler:letter-case',
  },
  {
    title: 'Step 3: <span class="font-medium">Quality Control</span>',
    description:
      "Rigorous quality checks to ensure all boxes meet the highest standards",
      icon: 'tabler:letter-case',
  },
  {
    title: 'Step 4 <span class="font-medium">Delivery</span>',
    description:
      "Reliable shipping and logistics for on-time deliveries",
      icon: 'tabler:letter-case',
  },

  {
    title: 'Ready!',
    icon: 'tabler:check',
  },
]}
image={{
  src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
  alt: 'Steps image',
}}
/>
  <!-- Features2 Widget ************** -->

  <Features2
    id="products"
    title="Versatile Packaging Solutions to Meet Every Requirement"
    subtitle="At Meenakshi Industries, we offer a comprehensive range of corrugated boxes, designed to meet the diverse needs of our clients. Whether you're shipping delicate electronics, heavy industrial components, or consumer goods, we have the perfect packaging solution for you. We utilize high-grade materials and cutting-edge technology to produce boxes that offer maximum protection and durability."
    tagline="Products"
    items={[
      {
        title: 'Custom Corrugated Boxes',
        description: "Tailored to your specific size, thickness, and printing requirements. Ideal for various industries, from e-commerce to food and beverages.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Polypropylene (PP) boxes',
        description:
          "Discover the perfect packaging solution with our PP boxes. Engineered for durability and versatility, these boxes ensure secure storage and transport while maintaining a sleek and professional appearance.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Sustainable Packaging',
        description:
          'We are committed to environmental responsibility. Offering eco-friendly, recyclable, and biodegradable packaging options.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Specialty Boxes',
        description:
          "Packaging solutions for unique needs: heavy-duty, die-cut, or display boxes.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Customized Wooden Box',
        description:
          "We are specialize in making four-way, two-way, wooden pallets as per customized.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Beyond Boxes',
        description:
          "From boxes to Wax Ribbon, Box tape and Customized Printed Tape,we provide comprehensive solutions to meet your unique needs.",
        icon: 'flat-color-icons:document',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>
<!-- Brands Widget ****************** -->

  <Brands
    title="Trusted by a Diverse Range of Leading Businesses"
    subtitle="We are proud to partner with companies across various industries, providing reliable packaging solutions that meet their unique needs."
    icons={[]}
    images={[
      {
        src: '~/assets/images/ksb-logo.png',
        alt: 'KSB Pumps',
      },
      {
        src: '~/assets/images/virag-logo.png',
        alt: 'Viraj',
      },
      {
        src: '~/assets/images/kutwal-logo.png',
        alt: 'Kutwal',
      },

      {
        src: '~/assets/images/hempra-logo.png',
        alt: 'Hempra',
      },
      {
        src: '~/assets/images/vipra-logo.png',
        alt: 'Vipra Pharma',
      },
      {
        src: '~/assets/images/kinetic-logo.png',
        alt: 'Kinetic',
      },
      {
        src: '~/assets/images/kirti-logo.png',
        alt: 'Kirti',
      },
      {
        src: '~/assets/images/golden-pune-logo.png',
        alt: 'Golden Pune',
      },
      {
        src: '~/assets/images/wohr-logo.png',
        alt: 'Wohr',
      },
      {
        src: '~/assets/images/ducati-logo.png',
        alt: 'Ducati',
      },
    ]}
  />

  <ContactUs
    id="form"
    title="Get a Free Quote Today!"
    subtitle="Contact Us to Discuss Your Packaging Needs, our support team is delighted to help you."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="Our support team typically responds within 24 business hours."
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
  </ContactUs>

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'Phone',
        description: '+91 98220 12345',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: 'sales@meenakshiindustries.in',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: 'Gat no 174, Meenakshi Industries, Ganesh Nagar Rd, near Talawade, Ganesh Nagar, Sahyog Nagar, Talwade, Pimpri-Chinchwad, Maharashtra 412114',
        icon: 'tabler:map-pin',
      },
    ]}
  />
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>

</Layout>
