---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Meenakshi Industries - Leading Corrugated Manufacturer in Pune',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
    <!-- Hero2 Widget ******************* -->

    <Hero2
    tagline=""
    actions={[
      { variant: 'primary', target: '_blank', text: 'Get Quote', href: '/contact' },
    ]}
    image={{
      src: '~/assets/images/home.png', 
      alt: 'Meenakshi Industries - Workshop',
    }}
  >
    <Fragment slot="title">
      Your Packaging, Our Priority <br /> <span class="text-accent dark:text-white highlight"
        >Meenakshi Industries</span> <br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Established in Pune, <span class ="font-semibold">Meenakshi Industries </span> has been a trusted name in corrugated box manufacturing for Ten years. We're more than just a box maker; 
        we're a partner committed to providing reliable and high-quality packaging solutions that protect your products and strengthen your brand!</span
      >
    </Fragment>
  </Hero2>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Customers', amount: '100' },
      { title: 'Boxes Produced', amount: '100K' },
      { title: 'Years of Experience', amount: '10' },
      { title: 'Team Size', amount: '30' },
    ]}
  />

</Layout>
